analise de feedback.blueprint.json
{
    "name": "analise de feedback",
    "flow": [
        {
            "id": 19,
            "module": "google-sheets:watchRows",
            "version": 2,
            "parameters": {
                "__IMTCONN__": 4765813,
                "mode": "select",
                "includesHeaders": true,
                "limit": 1,
                "valueRenderOption": "FORMATTED_VALUE",
                "dateTimeRenderOption": "FORMATTED_STRING",
                "from": "drive",
                "spreadsheetId": "/1Hls6125-xO_dGT2DORkqwdXeaXON6G1bKQVuxn01DIE",
                "sheetId": "Página1",
                "tableFirstRow": "A1:Z1"
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 0
                },
                "restore": {
                    "parameters": {
                        "__IMTCONN__": {
                            "label": "My Google connection (case123teste@gmail.com)",
                            "data": {
                                "scoped": "true",
                                "connection": "google"
                            }
                        },
                        "mode": {
                            "label": "Search by path"
                        },
                        "includesHeaders": {
                            "label": "Yes"
                        },
                        "valueRenderOption": {
                            "mode": "chose",
                            "label": "Formatted value"
                        },
                        "dateTimeRenderOption": {
                            "mode": "chose",
                            "label": "Formatted string"
                        },
                        "from": {
                            "label": "My Drive"
                        },
                        "spreadsheetId": {
                            "path": [
                                "Banco de Dados - Feedback Vilarejo"
                            ]
                        },
                        "sheetId": {
                            "label": "Página1"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:google",
                        "label": "Connection",
                        "required": true
                    },
                    {
                        "name": "mode",
                        "type": "select",
                        "label": "Search Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "select",
                                "fromAll",
                                "map"
                            ]
                        }
                    },
                    {
                        "name": "includesHeaders",
                        "type": "select",
                        "label": "Table contains headers",
                        "required": true,
                        "validate": {
                            "enum": [
                                true,
                                false
                            ]
                        }
                    },
                    {
                        "name": "limit",
                        "type": "uinteger",
                        "label": "Limit",
                        "required": true
                    },
                    {
                        "name": "valueRenderOption",
                        "type": "select",
                        "label": "Value render option",
                        "validate": {
                            "enum": [
                                "FORMATTED_VALUE",
                                "UNFORMATTED_VALUE",
                                "FORMULA"
                            ]
                        }
                    },
                    {
                        "name": "dateTimeRenderOption",
                        "type": "select",
                        "label": "Date and time render option",
                        "validate": {
                            "enum": [
                                "SERIAL_NUMBER",
                                "FORMATTED_STRING"
                            ]
                        }
                    },
                    {
                        "name": "from",
                        "type": "select",
                        "label": "Drive",
                        "required": true,
                        "validate": {
                            "enum": [
                                "drive",
                                "share",
                                "team"
                            ]
                        }
                    },
                    {
                        "name": "spreadsheetId",
                        "type": "file",
                        "label": "Spreadsheet ID",
                        "required": true
                    },
                    {
                        "name": "sheetId",
                        "type": "select",
                        "label": "Sheet Name",
                        "required": true
                    },
                    {
                        "name": "tableFirstRow",
                        "type": "text",
                        "label": "Row with headers",
                        "required": true
                    }
                ],
                "interface": [
                    {
                        "name": "__ROW_NUMBER__",
                        "label": "Row number",
                        "type": "number"
                    },
                    {
                        "name": "__SPREADSHEET_ID__",
                        "label": "Spreadsheet ID",
                        "type": "text"
                    },
                    {
                        "name": "__SHEET__",
                        "label": "Sheet",
                        "type": "text"
                    },
                    {
                        "name": "0",
                        "label": "ID (A)",
                        "type": "text"
                    },
                    {
                        "name": "1",
                        "label": "Canal (B)",
                        "type": "text"
                    },
                    {
                        "name": "2",
                        "label": "Data (C)",
                        "type": "text"
                    },
                    {
                        "name": "3",
                        "label": "Rating(1-5) (D)",
                        "type": "text"
                    },
                    {
                        "name": "4",
                        "label": "Local/Loja (E)",
                        "type": "text"
                    },
                    {
                        "name": "5",
                        "label": "Texto_Original (F)",
                        "type": "text"
                    },
                    {
                        "name": "6",
                        "label": "Sentimento (G)",
                        "type": "text"
                    },
                    {
                        "name": "7",
                        "label": "Sentiment_Score(0-1) (H)",
                        "type": "text"
                    },
                    {
                        "name": "8",
                        "label": "Categoria (I)",
                        "type": "text"
                    },
                    {
                        "name": "9",
                        "label": "Subcategoria (J)",
                        "type": "text"
                    },
                    {
                        "name": "10",
                        "label": "Tags (K)",
                        "type": "text"
                    },
                    {
                        "name": "11",
                        "label": "Menciona_Empregado(Nome) (L)",
                        "type": "text"
                    },
                    {
                        "name": "12",
                        "label": "Urgencia (M)",
                        "type": "text"
                    },
                    {
                        "name": "13",
                        "label": "Palavras_Chave (N)",
                        "type": "text"
                    },
                    {
                        "name": "14",
                        "label": "Sugestao_Acao (O)",
                        "type": "text"
                    },
                    {
                        "name": "15",
                        "label": "Rascunho_Resposta (P)",
                        "type": "text"
                    },
                    {
                        "name": "16",
                        "label": "Status (Q)",
                        "type": "text"
                    },
                    {
                        "name": "17",
                        "label": "(R)",
                        "type": "text"
                    },
                    {
                        "name": "18",
                        "label": "(S)",
                        "type": "text"
                    },
                    {
                        "name": "19",
                        "label": "(T)",
                        "type": "text"
                    },
                    {
                        "name": "20",
                        "label": "(U)",
                        "type": "text"
                    },
                    {
                        "name": "21",
                        "label": "(V)",
                        "type": "text"
                    },
                    {
                        "name": "22",
                        "label": "(W)",
                        "type": "text"
                    },
                    {
                        "name": "23",
                        "label": "(X)",
                        "type": "text"
                    },
                    {
                        "name": "24",
                        "label": "(Y)",
                        "type": "text"
                    },
                    {
                        "name": "25",
                        "label": "(Z)",
                        "type": "text"
                    }
                ]
            },
            "data": {
                "epoch": {
                    "id": 2,
                    "type": "select"
                }
            }
        },
        {
            "id": 20,
            "module": "open-router:createAChatCompletion",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 4774775
            },
            "mapper": {
                "messages": [
                    {
                        "content": "Você é um Analista de Dados e Experiência do Cliente Sênior, especialista em Processamento de Linguagem Natural.\nSua tarefa é analisar o feedback do cliente e retornar um objeto JSON válido, obedecendo estritamente ao formato e regras abaixo.\nNão escreva nada fora do JSON.\nNão adicione comentários, explicações, texto introdutório ou conclusões.\nA saída deve ser um JSON válido que possa ser parseado sem erros.\n\nEntrada:\n\nCanal: \"{{19.`1`}}\"\n\nTexto do Feedback:\n\"{{19.`5`}}\"\n\nFormato de saída (JSON):\n\njson\nCopiar\nEditar\n{\n  \"sentimento\": \"...\",\n  \"sentimento_score\": 0.0,\n  \"categoria\": \"...\",\n  \"subcategoria\": \"...\",\n  \"tags\": [\"...\", \"...\"],\n  \"menciona_empregado\": \"...\",\n  \"urgencia\": \"...\",\n  \"palavras_chave_principais\": [\"...\", \"...\"],\n  \"sugestao_acao\": \"...\",\n  \"rascunho_resposta\": \"...\",\n  \"status_inicial\": \"...\"\n}\nRegras de preenchimento:\n\nsentimento: \"Positivo\", \"Negativo\" ou \"Neutro\".\n\nsentimento_score: Número real entre -1.0 e 1.0 (negativo até positivo).\n\ncategoria e subcategoria: Escolher 1 de cada conforme lista abaixo:\n\nAtendimento: \"Recepção\", \"Garçons\", \"Vendedores\", \"Caixa\", \"Gerência\", \"Atendimento Online\", \"SAC\"\n\nProduto/Serviço: \"Qualidade (Produto)\", \"Apresentação (Prato)\", \"Sabor (Comida)\", \"Variedade (Cardápio)\", \"Qualidade (Serviço)\", \"Disponibilidade (Estoque)\"\n\nInfraestrutura: \"Limpeza\", \"Quarto\", \"Banheiro\", \"Piscina\", \"Estacionamento\", \"Áreas Comuns (Hotel)\", \"Estrutura (Loja)\", \"Website\", \"App\"\n\nProcessos: \"Check-in/Check-out\", \"Reservas\", \"Entrega\", \"Devolução/Troca\", \"Pagamento\", \"Fila de Espera\"\n\nPreço: \"Custo-Benefício\", \"Valor Elevado\", \"Promoções\", \"Taxas Adicionais\"\n\nOutros: \"Segurança\", \"Localização\", \"Recreação (Hotel)\", \"Sem Categoria\"\n\ntags: Array de até 5 termos curtos extraídos do feedback.\n\nmenciona_empregado: Nome citado ou null se nenhum nome foi mencionado.\n\nurgencia: \"Crítica\", \"Alta\", \"Média\" ou \"Baixa\".\n\npalavras_chave_principais: Array de 3 a 5 palavras/expressões importantes.\n\nsugestao_acao: Próxima ação recomendada, clara e prática.\n\nrascunho_resposta: Resposta profissional, empática e personalizada.\n\nstatus_inicial: \"A Fazer\" (ação necessária), \"Elogio\" (elogio) ou \"Arquivado\" (sem ação clara).",
                        "role": "user"
                    }
                ],
                "model": "openrouter/horizon-beta",
                "fallback": true,
                "json_mode": false,
                "n": "1",
                "temperature": "1",
                "top_p": "1"
            },
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 0
                },
                "restore": {
                    "parameters": {
                        "__IMTCONN__": {
                            "label": "My OpenRouter connection",
                            "data": {
                                "scoped": "true",
                                "connection": "open-router-4ur2vj"
                            }
                        }
                    },
                    "expect": {
                        "messages": {
                            "mode": "chose",
                            "items": [
                                {
                                    "role": {
                                        "mode": "chose",
                                        "label": "User"
                                    }
                                }
                            ]
                        },
                        "model": {
                            "mode": "chose",
                            "label": "Horizon Beta"
                        },
                        "fallback": {
                            "mode": "chose"
                        },
                        "json_mode": {
                            "mode": "chose"
                        },
                        "stop": {
                            "mode": "chose"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:open-router3,open-router-4ur2vj",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "messages",
                        "type": "array",
                        "label": "Messages",
                        "required": true,
                        "spec": [
                            {
                                "name": "content",
                                "type": "text",
                                "label": "Content",
                                "required": true
                            },
                            {
                                "name": "role",
                                "type": "select",
                                "label": "Role",
                                "options": [
                                    {
                                        "label": "User",
                                        "value": "user"
                                    },
                                    {
                                        "label": "Assistant",
                                        "value": "assistant"
                                    },
                                    {
                                        "label": "System",
                                        "value": "system"
                                    }
                                ],
                                "required": true
                            }
                        ]
                    },
                    {
                        "name": "model",
                        "type": "select",
                        "label": "Model",
                        "required": true
                    },
                    {
                        "name": "fallback",
                        "type": "boolean",
                        "label": "Enable automatic Fallback?"
                    },
                    {
                        "name": "json_mode",
                        "type": "boolean",
                        "label": "Enable JSON Mode?"
                    },
                    {
                        "name": "max_tokens",
                        "type": "integer",
                        "label": "Max Tokens"
                    },
                    {
                        "name": "n",
                        "type": "integer",
                        "label": "Number of Choices",
                        "validate": {
                            "min": 1
                        }
                    },
                    {
                        "name": "temperature",
                        "type": "number",
                        "label": "Temperature",
                        "validate": {
                            "max": 2,
                            "min": 0
                        }
                    },
                    {
                        "name": "top_p",
                        "type": "number",
                        "label": "Top P",
                        "validate": {
                            "max": 1,
                            "min": 0
                        }
                    },
                    {
                        "name": "frequency_penalty",
                        "type": "number",
                        "label": "Frequency Penalty",
                        "validate": {
                            "max": 2,
                            "min": -2
                        }
                    },
                    {
                        "name": "presence_penalty",
                        "type": "number",
                        "label": "Presence Penalty",
                        "validate": {
                            "min": 1
                        }
                    },
                    {
                        "name": "seed",
                        "type": "integer",
                        "label": "Seed"
                    },
                    {
                        "name": "stop",
                        "type": "array",
                        "label": "Stop Sequences",
                        "spec": {
                            "type": "text",
                            "name": "value"
                        }
                    },
                    {
                        "name": "top_k",
                        "type": "number",
                        "label": "Top k"
                    },
                    {
                        "name": "messages",
                        "type": "array",
                        "label": "Messages",
                        "required": true,
                        "spec": [
                            {
                                "name": "content",
                                "type": "text",
                                "label": "Content",
                                "required": true
                            },
                            {
                                "name": "role",
                                "type": "select",
                                "label": "Role",
                                "options": [
                                    {
                                        "label": "User",
                                        "value": "user"
                                    },
                                    {
                                        "label": "Assistant",
                                        "value": "assistant"
                                    },
                                    {
                                        "label": "System",
                                        "value": "system"
                                    }
                                ],
                                "required": true
                            }
                        ]
                    },
                    {
                        "name": "model",
                        "type": "select",
                        "label": "Model",
                        "required": true
                    },
                    {
                        "name": "fallback",
                        "type": "boolean",
                        "label": "Enable automatic Fallback?"
                    },
                    {
                        "name": "json_mode",
                        "type": "boolean",
                        "label": "Enable JSON Mode?"
                    },
                    {
                        "name": "max_tokens",
                        "type": "integer",
                        "label": "Max Tokens"
                    },
                    {
                        "name": "n",
                        "type": "integer",
                        "label": "Number of Choices",
                        "validate": {
                            "min": 1
                        }
                    },
                    {
                        "name": "temperature",
                        "type": "number",
                        "label": "Temperature",
                        "validate": {
                            "max": 2,
                            "min": 0
                        }
                    },
                    {
                        "name": "top_p",
                        "type": "number",
                        "label": "Top P",
                        "validate": {
                            "max": 1,
                            "min": 0
                        }
                    },
                    {
                        "name": "frequency_penalty",
                        "type": "number",
                        "label": "Frequency Penalty",
                        "validate": {
                            "max": 2,
                            "min": -2
                        }
                    },
                    {
                        "name": "presence_penalty",
                        "type": "number",
                        "label": "Presence Penalty",
                        "validate": {
                            "min": 1
                        }
                    },
                    {
                        "name": "seed",
                        "type": "integer",
                        "label": "Seed"
                    },
                    {
                        "name": "stop",
                        "type": "array",
                        "label": "Stop Sequences",
                        "spec": {
                            "type": "text",
                            "name": "value"
                        }
                    },
                    {
                        "name": "top_k",
                        "type": "number",
                        "label": "Top k"
                    }
                ]
            }
        },
        {
            "id": 21,
            "module": "json:ParseJSON",
            "version": 1,
            "parameters": {
                "type": ""
            },
            "mapper": {
                "json": "{{20.choices[].message.content}}"
            },
            "metadata": {
                "designer": {
                    "x": 600,
                    "y": 0
                },
                "restore": {
                    "parameters": {
                        "type": {
                            "label": "Choose a data structure"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "type",
                        "type": "udt",
                        "label": "Data structure"
                    }
                ],
                "expect": [
                    {
                        "name": "json",
                        "type": "text",
                        "label": "JSON string",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 22,
            "module": "google-sheets:updateRow",
            "version": 2,
            "parameters": {
                "__IMTCONN__": 4765813
            },
            "mapper": {
                "mode": "select",
                "valueInputOption": "USER_ENTERED",
                "from": "drive",
                "spreadsheetId": "/1Hls6125-xO_dGT2DORkqwdXeaXON6G1bKQVuxn01DIE",
                "sheetId": "Página1",
                "rowNumber": "{{19.`__ROW_NUMBER__`}}",
                "includesHeaders": true,
                "values": {
                    "6": "{{21.sentimento}}",
                    "7": "{{21.sentimento_score}}",
                    "8": "{{21.categoria}}",
                    "9": "{{21.subcategoria}}",
                    "10": "{{21.tags}}",
                    "11": "{{21.menciona_empregado}}",
                    "12": "{{21.urgencia}}",
                    "13": "{{21.palavras_chave_principais}}",
                    "14": "{{21.sugestao_acao}}",
                    "15": "{{21.rascunho_resposta}}",
                    "16": "{{21.status_inicial}}"
                }
            },
            "metadata": {
                "designer": {
                    "x": 900,
                    "y": 0
                },
                "restore": {
                    "parameters": {
                        "__IMTCONN__": {
                            "label": "My Google connection (case123teste@gmail.com)",
                            "data": {
                                "scoped": "true",
                                "connection": "google"
                            }
                        }
                    },
                    "expect": {
                        "mode": {
                            "label": "Search by path"
                        },
                        "valueInputOption": {
                            "mode": "chose",
                            "label": "User entered"
                        },
                        "from": {
                            "label": "My Drive"
                        },
                        "spreadsheetId": {
                            "path": [
                                "Banco de Dados - Feedback Vilarejo"
                            ]
                        },
                        "sheetId": {
                            "label": "Página1"
                        },
                        "includesHeaders": {
                            "nested": [
                                {
                                    "name": "values",
                                    "label": "Values",
                                    "type": "collection",
                                    "spec": [
                                        {
                                            "name": "0",
                                            "label": "ID (A)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "1",
                                            "label": "Canal (B)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "2",
                                            "label": "Data (C)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "3",
                                            "label": "Rating(1-5) (D)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "4",
                                            "label": "Local/Loja (E)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "5",
                                            "label": "Texto_Original (F)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "6",
                                            "label": "Sentimento (G)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "7",
                                            "label": "Sentiment_Score(0-1) (H)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "8",
                                            "label": "Categoria (I)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "9",
                                            "label": "Subcategoria (J)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "10",
                                            "label": "Tags (K)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "11",
                                            "label": "Menciona_Empregado(Nome) (L)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "12",
                                            "label": "Urgencia (M)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "13",
                                            "label": "Palavras_Chave (N)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "14",
                                            "label": "Sugestao_Acao (O)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "15",
                                            "label": "Rascunho_Resposta (P)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "16",
                                            "label": "Status (Q)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "17",
                                            "label": "(R)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "18",
                                            "label": "(S)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "19",
                                            "label": "(T)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "20",
                                            "label": "(U)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "21",
                                            "label": "(V)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "22",
                                            "label": "(W)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "23",
                                            "label": "(X)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "24",
                                            "label": "(Y)",
                                            "type": "text"
                                        }
                                    ]
                                }
                            ],
                            "label": "Yes"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:google",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "mode",
                        "type": "select",
                        "label": "Search Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "select",
                                "fromAll",
                                "map"
                            ]
                        }
                    },
                    {
                        "name": "valueInputOption",
                        "type": "select",
                        "label": "Value input option",
                        "validate": {
                            "enum": [
                                "USER_ENTERED",
                                "RAW"
                            ]
                        }
                    },
                    {
                        "name": "from",
                        "type": "select",
                        "label": "Drive",
                        "required": true,
                        "validate": {
                            "enum": [
                                "drive",
                                "share",
                                "team"
                            ]
                        }
                    },
                    {
                        "name": "spreadsheetId",
                        "type": "file",
                        "label": "Spreadsheet ID",
                        "required": true
                    },
                    {
                        "name": "sheetId",
                        "type": "select",
                        "label": "Sheet Name",
                        "required": true
                    },
                    {
                        "name": "rowNumber",
                        "type": "uinteger",
                        "label": "Row number",
                        "required": true
                    },
                    {
                        "name": "includesHeaders",
                        "type": "select",
                        "label": "Table contains headers",
                        "required": true,
                        "validate": {
                            "enum": [
                                true,
                                false
                            ]
                        }
                    },
                    {
                        "name": "values",
                        "type": "collection",
                        "label": "Values",
                        "spec": [
                            {
                                "name": "0",
                                "type": "text",
                                "label": "ID (A)"
                            },
                            {
                                "name": "1",
                                "type": "text",
                                "label": "Canal (B)"
                            },
                            {
                                "name": "2",
                                "type": "text",
                                "label": "Data (C)"
                            },
                            {
                                "name": "3",
                                "type": "text",
                                "label": "Rating(1-5) (D)"
                            },
                            {
                                "name": "4",
                                "type": "text",
                                "label": "Local/Loja (E)"
                            },
                            {
                                "name": "5",
                                "type": "text",
                                "label": "Texto_Original (F)"
                            },
                            {
                                "name": "6",
                                "type": "text",
                                "label": "Sentimento (G)"
                            },
                            {
                                "name": "7",
                                "type": "text",
                                "label": "Sentiment_Score(0-1) (H)"
                            },
                            {
                                "name": "8",
                                "type": "text",
                                "label": "Categoria (I)"
                            },
                            {
                                "name": "9",
                                "type": "text",
                                "label": "Subcategoria (J)"
                            },
                            {
                                "name": "10",
                                "type": "text",
                                "label": "Tags (K)"
                            },
                            {
                                "name": "11",
                                "type": "text",
                                "label": "Menciona_Empregado(Nome) (L)"
                            },
                            {
                                "name": "12",
                                "type": "text",
                                "label": "Urgencia (M)"
                            },
                            {
                                "name": "13",
                                "type": "text",
                                "label": "Palavras_Chave (N)"
                            },
                            {
                                "name": "14",
                                "type": "text",
                                "label": "Sugestao_Acao (O)"
                            },
                            {
                                "name": "15",
                                "type": "text",
                                "label": "Rascunho_Resposta (P)"
                            },
                            {
                                "name": "16",
                                "type": "text",
                                "label": "Status (Q)"
                            },
                            {
                                "name": "17",
                                "type": "text",
                                "label": "(R)"
                            },
                            {
                                "name": "18",
                                "type": "text",
                                "label": "(S)"
                            },
                            {
                                "name": "19",
                                "type": "text",
                                "label": "(T)"
                            },
                            {
                                "name": "20",
                                "type": "text",
                                "label": "(U)"
                            },
                            {
                                "name": "21",
                                "type": "text",
                                "label": "(V)"
                            },
                            {
                                "name": "22",
                                "type": "text",
                                "label": "(W)"
                            },
                            {
                                "name": "23",
                                "type": "text",
                                "label": "(X)"
                            },
                            {
                                "name": "24",
                                "type": "text",
                                "label": "(Y)"
                            }
                        ]
                    }
                ]
            }
        }
    ],
    "metadata": {
        "instant": false,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "us2.make.com",
        "notes": []
    }
}